<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/echo304" target="_blank">
              <i class="fa fa-github"> echo304</i>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/echo304" target="_blank">
              <i class="fa fa-linkedin"> echo304</i>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Javascript Enthusiast, Passionate Learner</p>
      </div>
    </div>

  </div>

</footer>
