<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div id="page-wrap">
        <div id="page-content">
            <div id="content">
                {{ content }}
            </div>
            <aside class="visible-lg-block">
                  <section>

                    <h3>Recent Posts</h3>

                    <ul class="list-unstyled">
                    {% for post in site.posts limit:5 %}
                    <li>
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                    </ul>

                  </section>
                  <!-- recent posts -->

                  {% if site.share.disqus %}
                  <section id="recent-comments-section">

                    <h3>Recent Comments</h3>

                  </section>
                  <!-- recent comments -->
                  {% endif %}
            </aside>
            <div style="clear: both"></div>
        </div>
    {% include footer.html %}
    </div>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>

</html>
